table {
	border-collapse: collapse;
	width: 100%
}

th {
	background-color: #b4b4b4;
	padding: 5px;
	color: #ffffff;
	font-family: Georgia, Times, serif;
	font-size: 1.25em;
	font-variant: small-caps;
}

td {
	padding: 10px;
	border-bottom: 1px solid #b4b4b4;
}