{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Page Title {% endblock %} | Prisoner's Dilemma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/leaderboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/form.css' %}">
    <script type='text/javascript' src='//code.jquery.com/jquery-3.2.1.slim.min.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js'></script>
</head>
	<body>
		<div class="header">
			<h1>Prisoner's Dilemma</h1>
		</div>
		<div class="navigation">
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'play' %}">Play</a></li>
				<li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
				{% if user.is_authenticated %}
				<li style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
				<li style="float:right">Hi <a href="{% url 'profile' %}">{{ user.username }}</a>!</li>
				{% else %}
				<li style="float:right"><a href="{% url 'signup' %}">Sign Up</a></li>
				<li style="float:right"><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
			<ul>
		</div>
        <div class="content">
            <div class="row">
                {% block content %} {% endblock %}
            </div>
        </div>
		<footer>
		</footer>
	</body>
</html>